# Token du bot (onglet "Bot" de ton application Discord)
DISCORD_TOKEN=

# ID de l'application (onglet "General Information")
CLIENT_ID=

# Nom du process PM2 à redémarrer (doit correspondre à ecosystem.config.cjs)
PM2_PROCESS_NAME=

# Role autorisé à intéragir avec le bot
STAFF_ROLE=